/* 아직 오픈 되지 않은 영역 스타일링 */
.disabled_area {
    position: relative;
    text-align: center;
}

.disabled_area::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
}

.disabled_area::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    content: "Coming Soon \A 새롭게 오픈을 위해 준비중입니다.";
    white-space: pre;
    line-height: 1.5;
    transform: skew(-0.1deg) translate(-50%, -50%);
    font-family: "Gangwon";
    font-size: 1.8rem;
    color: #fff;
}